@import url("base.css");

/* Main Container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Left Section */
.left-section {
    flex: 1;
    padding: 24px;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.left-section h2 {
    text-align: left;
    color: var(--primary);
}

.left-section p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Right Section */
.right-section {
    flex: 1;
    padding: 24px;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Glass effect */
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.right-section h2 {
    margin-top: 0;
}

.form-field {
    margin-bottom: 16px;
}

.form-field label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--primary);
}

.form-field input,
.form-field select {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    backdrop-filter: blur(6px); /* Glass effect on inputs */
    color: var(--regular-text);
    transition: all 0.3s ease;
}
.form-field select {
    width: 100%;
}

.form-field input:focus,
.form-field select:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
    outline: none;
}

/* Autofill Styles */
input:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4) inset;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4) inset;
    -webkit-text-fill-color: var(--primary-text); /* Change the font color for autofilled text */
}

input:-webkit-autofill:focus,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4) inset;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4) inset;
    -webkit-text-fill-color: var(--primary-text); /* Change the font color for autofilled text */
}

.form-buttons {
    text-align: center;
}

.form-footer {
    margin-top: 12px;
    text-align: center;
}

.form-footer a {
    color: var(--primary);
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}