@import url("base.css");

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Left Section */
.left-section {
    flex: 1;
    padding: 24px;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.left-section h2 {
    text-align: left;
    color: var(--primary);
}

.left-section p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Right Section */
.right-section {
    flex: 1;
    padding: 24px;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Glass effect */
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.right-section h2 {
    margin-top: 0;
}