@import url("base.css");

.container {
    margin: auto;
    text-align: center;
}
.table-form {
    display: flex;
    justify-content: center;
    align-items: end;
}
.table-form .table-checkbox {
    font-size: 1rem;
    width: 42px;
    height: 15px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    color: var(--regular-text);
    transition: all 0.3s ease;
}
.table-form .table-checkbox:focus {
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
    outline: none;
}