<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>Food Waste Reduction Platform</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>foodInventoryServlet</servlet-name>
    <servlet-class>controllers.FoodInventoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>foodInventoryServlet</servlet-name>
    <url-pattern>/food-inventory</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SubscriptionServlet</servlet-name>
    <servlet-class>controllers.SubscriptionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SubscriptionServlet</servlet-name>
    <url-pattern>/subscription/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
